<div *ngIf="phrase; then thenBlock"></div>


<ng-template #thenBlock>
  <h3>Selected Phrase Details</h3>

  <div>ID: {{phrase?.id}}</div>

  <ng-container *ngIf="authService.isLoggedIn; then isAuth; else notIsAuth"></ng-container>

  <div class="btn-group">
    <button (click)="gotoPhrasesList()"
            type="button">Go to phrases list
    </button>
  </div>
</ng-template>

<ng-template #isAuth>
  <div>value: <input [(ngModel)]="editValue" type="text"></div>
  <div>language: <input [(ngModel)]="editLanguage" type="text"></div>
  <div *ngIf="isChanged()" class="inline-btn">
    <button (click)="save()" type="button">Save</button>
  </div>
</ng-template>

<ng-template #notIsAuth>
  <div>Value: {{phrase?.value}}</div>
  <div>Language: {{phrase?.language}}</div>
</ng-template>









